[ req ]
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C = AU
ST = NSW
L = Wenty
O = JAI.NET
OU = systems
CN = dnsmaster.jai.net
emailAddress = admin@dnsmaster.jai.net
