[ req ]
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C = AU
ST = NSW
L = Wenty
O = JAI.NET
OU = systems
CN = caauthority.jai.net
emailAddress = admin@caauthority.jai.net
