[ req ]
prompt = no
distinguished_name = req_distinguished_name
x509_extensions = v3_ca

[ req_distinguished_name ]
C = AU
ST = NSW
L = Wenty
O = JAI.NET
OU = systems
CN = caauthority.jai.net
emailAddress = admin@caauthority.jai.net

[ v3_ca ]

subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
basicConstraints = critical,CA:true
